<?xml version="1.0"?>

<launch>
	 

		<!-- set a referenze tf_frame for the world -->	
	<node pkg="tf" type="static_transform_publisher" name="worldmarker" 
		args="2 0 1 -1.571 0 1.571 world ar_marker 10" />


		<!-- send the robot XML to param server -->
	<arg name="model" default="$(find jh_fly)/launch/drone.urdf"/>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

     
   		<!-- start robot state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>



		<!-- Start the ARDrone driver-->
	<node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone" output="screen">
		<param name="drone_frame_id" value="base"/>
		<param name="outdoor" value="0"/>
		<param name="flight_without_shell" value="0"/>
		<param name="altitude_max" value="3000"/>
		<param name="detect_type" value="CAD_TYPE_MULTIPLE_DETECTION_MODE"/>
		<param name="enemy_colors" value="ARDRONE_DETECTION_COLOR_ORANGE_BLUE"/>
		<param name="enemy_without_shell" value="0"/>
		<param name="detections_select_h" value="TAG_TYPE_MASK(TAG_TYPE_SHELL_TAG_V2)"/>
		<param name="detections_select_v_hsync" value="TAG_TYPE_MASK(TAG_TYPE_BLACK_ROUNDEL)"/>
	</node>


		<!-- for the monochrome image -->	
	<node ns="ardrone" pkg="image_proc" type="image_proc" name="image_proc" />

		<!-- ptam -->
	<node name="ptam" pkg="ptam" type="ptam" clear_params="true" output="screen">
	    	<remap from="image" to="/ardrone/image_mono" />
        	<remap from="pose" to="pose"/>
	    	<rosparam file="$(find jh_fly)/config/PtamFixParams.yaml"/>
    	</node>

	<node pkg="ptam" type="remote_ptam" name="p_remote" />

	<node pkg="dynamic_reconfigure" type="reconfigure_gui" name="p_reconf" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find jh_fly)/config/ptam_rvizconf.vcg"/>

	<!-- 
		http://ros.org/wiki/ethzasl_ptam/Tutorials/remote_ptam

		this has to started by hand:
	 	toggle the ardrone cam -  rosservice call ardrone/togglecam
		after initializied a map - rosrun ptam ptam_visualizer 
	-->	

	
        
		<!-- Start the 3d Mouse for driving control -->
	<node name="teleop_3d" pkg="drone_teleop_3d" type="ardrone_3d_teleop" />          

</launch>
