<?xml version="1.0"?>

<launch>
	 

		<!-- set a referenze tf_frame for the world -->	
	<node pkg="tf" type="static_transform_publisher" name="worldmarker" 
		args="0 0 0 0 0 0 world world_marker 10" />


		<!-- send the robot XML to param server -->
	<arg name="model" default="$(find jh_fly)/launch/drone.urdf"/>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'" />

     
   		<!-- start robot state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
		<param name="publish_frequency" type="double" value="50.0" />
		<param name="tf_prefix" type="string" value="" />
	</node>



		<!-- Start the ARDrone driver-->
	<node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone" output="screen">
		<param name="drone_frame_id" value="base"/>
		<param name="outdoor" value="0"/>
		<param name="flight_without_shell" value="0"/>
		<param name="altitude_max" value="3000"/>
		<param name="detect_type" value="CAD_TYPE_MULTIPLE_DETECTION_MODE"/>
		<param name="enemy_colors" value="ARDRONE_DETECTION_COLOR_ORANGE_BLUE"/>
		<param name="enemy_without_shell" value="0"/>
		<param name="detections_select_h" value="TAG_TYPE_MASK(TAG_TYPE_SHELL_TAG_V2)"/>
		<param name="detections_select_v_hsync" value="TAG_TYPE_MASK(TAG_TYPE_BLACK_ROUNDEL)"/>
	</node>



	        <!-- translate the messages from the dronedriver to odometry -->
	<node pkg="ardrone_odom" type="ardrone_odom" name="ardrone_odom" output="screen"></node>
        

	<node pkg="odom_to_world" type="odom_to_tf" name="ardrone_odom_to_tf" output="screen">
		<remap from="/odom" to="/vo" />
	</node>
       
        
		<!-- VISUALIZATION  with Rviz -->
    	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find jh_fly)/config/ardrone.vcg"/>
	
        
		<!-- Start the 3d Mouse for driving control -->
	<node name="teleop_3d" pkg="drone_teleop_3d" type="ardrone_3d_teleop" />          

</launch>
